altgraph==0.17.2
atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
future==0.18.2
importlib-metadata==4.8.2
iniconfig==1.1.1
packaging==21.3
pefile==2021.9.3
pluggy==1.0.0
py==1.11.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyparsing==3.0.6
pytest==6.2.5
pywin32-ctypes==0.2.0
toml==0.10.2
typing-extensions==4.0.1
win32-setctime==1.0.4
zipp==3.6.0
